<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <tnt>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Godogi\Tnt\Model\Carrier\Tnt</model>
                <name>Tnt Shipping Method</name>
                <price>10.00</price>
                <free_shipping_subtotal>115.00</free_shipping_subtotal>
                <title>Tnt Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </tnt>
        </carriers>
    </default>
</config>
